@import './media-query-mixins';
@import './layout';
@import './colors';

%button {
  padding: 9px 20px 10px;
  line-height: 18px;
  color: $white;
  border: 1px solid $white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  cursor: url('/images/cursor-pointer.svg'), auto;

  @include media('>tablet') {
    line-height: 20px;
  }
}

%sectionHeader {
  margin: 0 0 $mobile-vertical-spacer-1;
  padding: 0 $mobile-gutter;
  box-sizing: border-box;
  text-transform: uppercase;

  @include media('>tablet') {
    margin: 0 0 #{$desktop-vertical-spacer-1};
    padding: 0 $desktop-gutter;
  }

  &:before {
    content: '_';
    color: $red;
  }
}

%chapterWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: $mobile-vertical-spacer-2;
  box-sizing: border-box;

  @include media('>tablet') {
    margin-top: #{$desktop-vertical-spacer-2 - 15px};
    // padding: 0 $desktop-gutter;
  }
}