@import './media-query-mixins';
@import './layout';
@import './colors';

%button {
  padding: 9px 20px 10px;
  line-height: 18px;
  color: $white;
  font-size: 18px;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  cursor: url('/images/cursor-pointer.svg'), auto;

  @include media('>tablet') {
    @include orientation('landscape') {
      line-height: 20px;
    }
  }
}

%sectionHeader {
  margin: 0 0 $mobile-vertical-spacer-1;
  padding: 0 $mobile-gutter;
  box-sizing: border-box;
  text-transform: uppercase;

  @include media('>tablet') {
    @include orientation('landscape') {
      margin: 0 0 $desktop-vertical-spacer-1;
      padding: 0 $desktop-gutter;
    }
  }

  &:before {
    content: '_';
    color: $red;
  }
}

%chapterWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: $mobile-vertical-spacer-2;
  box-sizing: border-box;

  @include media('>tablet') {
    @include orientation('landscape') {
      //margin-top: $desktop-vertical-spacer-2;
    }
  }
}
