@import '../../shared/styles/index';

.footer {
  @extend %chapterWrapper;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $mobile-gutter;
  box-sizing: border-box;
  margin: $mobile-vertical-spacer-2 0 #{$mobile-vertical-spacer-2 * 2};

  @include media('>tablet') {
    margin: 0 0 $desktop-vertical-spacer-2;
    padding: 0 $desktop-gutter;
  }

  p {
    padding-right: $mobile-gutter;

    @include media('>tablet') {
      padding-right: $desktop-gutter;
    }
  }

  .logo {
    height: 31px;
  }
}
