@import '../../shared/styles/index';

.footer {
  @extend %chapterWrapper;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 $mobile-gutter;
  box-sizing: border-box;
  margin: $mobile-vertical-spacer-2 0;

  @include media('>tablet') {
    @include orientation('landscape') {
      margin: 0 0 $desktop-vertical-spacer-2;
      padding: 0 $desktop-gutter;
    }
  }

  p {
    padding-right: $mobile-gutter;

    @include media('>tablet') {
      @include orientation('landscape') {
        padding-right: $desktop-gutter;
      }
    }
  }

  .logo {
    color: $red;
    font-size: 31px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
  }
}
