@import '../../shared/styles/index';


.agile {
  @extend %chapterWrapper;

  @include media('>tablet') {
    @include orientation('landscape') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  img {
    transform: translateX(-46px);
    height: 247px;
  }

  h1 {
    @extend %sectionHeader;
    margin-top: $mobile-vertical-spacer-1;
  }

  .blue {
    color: $blue;
  }

  ul {
    $hashDeviation: 25px;
    padding: 0 $mobile-gutter 0 calc(#{$mobile-gutter} + #{$hashDeviation});
    margin: 0;
    list-style: none;

    li {
      &:before {
        content: '#';
        position: absolute;
        transform: translate(-$hashDeviation, -1px);
        font-size: 24px;
      }
    }
  }
}
