@import '../../shared/styles/index';


.agile {
  @extend %chapterWrapper;
  margin-top: 0;

  @include media('>tablet') {
    @include orientation('landscape') {
      flex-direction: row;
      padding-right: $desktop-gutter;
    }
  }

  //img {
  //  transform: translateX(-46px);
  //  height: 247px;
  //}

  .left {
    width: 100vw;

    @include media('>tablet') {
      @include orientation('landscape') {
        width: 44vw;
        flex-shrink: 0;
      }
    }

    img {
      width: 100%;
      flex-shrink: 0;
      height: auto;
    }
  }

  .right {
    @include media('>tablet') {
      @include orientation('landscape') {
        width: 44vw;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
    }

    h1 {
      @extend %sectionHeader;

      @include media('>tablet') {
        @include orientation('landscape') {
          margin-top: $desktop-vertical-spacer-1;
          padding-left: 8vw;
        }
      }
    }

    ul {
      padding-left: calc(8vw + 25px);
    }
  }

  .blue {
    color: $blue;
  }

  ul {
    $hashDeviation: 25px;
    padding: 0 $mobile-gutter 0 calc(#{$mobile-gutter} + #{$hashDeviation});
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 0.5em;
      &:before {
        content: '#';
        position: absolute;
        transform: translate(-$hashDeviation, -1px);
        font-size: 24px;
      }
    }
  }
}
