@import '../../shared/styles/index';

.estimator {
  @extend %chapterWrapper;

  h1 {
    @extend %sectionHeader;
  }
}

.calculator {
  display: flex;
  height: 325px;
  transition: 1.5s $ease;
  // padding: 0 $mobile-gutter;

  @include media('>phone') {
    position: relative;
    margin: 0 $desktop-gutter;
    height: 270px;
    width: calc(100% - #{2 * $desktop-gutter});
    max-width: 1000px;
    box-sizing: border-box;
    overflow: hidden;
    align-items: flex-end;
  }
}

.step {
  $closedWidth: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 1.5s $ease;
  flex-shrink: 0;
  padding: 0 $mobile-gutter;
  box-sizing: border-box;
  background-color: $black;

  @include media('>phone') {
    width: calc(100% - #{$closedWidth * 4});
    flex-shrink: 0;
    padding: 0;
    position: absolute;
    left: calc(100% - 50px);

    // @for $i from 0 through 4 {
    //   &:nth-of-type(#{$i}) {
    //     left: calc(100% - #{(6 - $i) * 50px});
    //   }
    // }
  }

  .innerWrapper {
    opacity: 0.5;
    transition: 1.5s $ease;
  }

  h2 {
    opacity: 0;
    margin-top: 0;
    display: inline-block;
    transition: 1 $ease;
    transition-delay: .1s;
    height: 60px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    @include media('>phone') {
      height: 35px;
      // white-space: nowrap;
    }
  }

  &.left {
    opacity: 0.25;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        left: #{($i - 1) * 50px};
      }
    }
  }

  &.right {
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        left: calc(100% - #{(6 - $i) * 50px});
      }
    }
  }

  &.focused {
    opacity: 1;
    left: 0;

    .innerWrapper {
      opacity: 1;
    }

    @include media('>phone') {
      // width: 100%;
      // flex-shrink: 1;
    }

    h2 {
      opacity: 1;
    }
  }

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;

    .slider {
      height: calc(100% - 22px);
      width: 30px;
      background-color: #4b4b4b;
      border-radius: 20px;
      position: relative;
      flex-shrink: 0;
    }

    .ball {
      height: 30px;
      width: 30px;
      background-color: $blue;
      position: absolute;
      top: 0;
      border-radius: 20px;
      box-shadow: 0 0 10px rgb(65, 65, 65);
      transition: .7s $ease;
    }

    .options {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
      color: #7e7e7e;

      li {
        cursor: url('/images/cursor-pointer.svg'), auto;
        height: calc(100% / 3);
        display: flex;
        // justify-content: center;
        align-items: center;
        opacity: 0;

        @extend %fadeIn;
        animation-delay: .1s;
      }

      .selected {
        color: $blue;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    .index {
      margin-right: 10px;
      flex-grow: 0;

      @include media('>phone') {
        margin-left: 10px;

      }
    }

    .line {
      flex-grow: 1;
      height: 1px;
      background-color: rgba($color: white, $alpha: 0.3);
    }
  }
}

.controllers {
  display: inline-flex;
  padding: 0 $mobile-gutter;

  @include media('>phone') {
    margin-top: 45px;
    margin-left: $desktop-gutter;
    padding: 0;
  }
}

.next,
.prev {
  @extend %button;
  width: 50%;
  color: $blue;
  border-color: $blue;
  transition: 1s $ease;

  @include media('>phone') {
    width: 200px;
  }

  &.disable {
    opacity: 0.2;
    pointer-events: none;
  }
}

.next {
  margin-left: $mobile-gutter / 2;

  @include media('>phone') {
    margin-left: 15px;
  }
}

.prev {
  margin-right: $mobile-gutter / 2;

  @include media('>phone') {
    margin-right: 15px;
  }
}

.generate {
  @extend %button;
  color: $blue;
  border-color: $blue;
  margin: $mobile-gutter $mobile-gutter 0;
  transition: 1s $ease;

  @include media('>phone') {
    margin: 0 0 0 30px;
    width: 200px;
  }

  &.disable {
    opacity: 0.2;
    pointer-events: none;
  }
}