@import '../../shared/styles/index';

.crew {
  @extend %chapterWrapper;

  @include media('>tablet') {
    @include orientation('landscape') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .swipeArea {
    width: 100%;
  }

  h1 {
    @extend %sectionHeader;
  }

  p {
    margin: 0 0 15px 0;
    padding: 0 $mobile-gutter;

    @include media('>tablet') {
      @include orientation('landscape') {

      }
    }

    &:first-of-type {
      line-height: 1.6em;
      font-family: 'Exo 2';
      font-size: 1.1em;
      letter-spacing: 0.02em;
    }
  }

  .blue {
    color: $blue;
  }

  ul {
    padding: 0 0 0 calc(#{$mobile-gutter} - 5px);
    margin: 0 0 25px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;

    li {
      $diameter: 36vw;
      width: $diameter;
      height: $diameter;
      border-radius: $diameter / 2;
      flex-shrink: 0;
      margin: 0 5px;
      overflow: hidden;
      background: $red;
      opacity: 0.75;
      transition: 1s $ease;

      &.focused {
        background: transparent;
        opacity: 1;

        img {
          filter: none;
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: multiply;
        filter: grayscale(1);
      }
    }
  }
}
