@import '../../shared/styles/index';


.crew {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $mobile-vertical-spacer-2;

  @include media('>tablet') {
    @include orientation('landscape') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  h1 {
    margin: 0 0 $mobile-vertical-spacer-1;
    padding: 0 $mobile-gutter;

    @include media('>tablet') {
      @include orientation('landscape') {

      }
    }
  }

  .blue {
    color: $blue;
  }

  ul {
    padding: 0 0 0 $mobile-gutter;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;

    li {
      $diameter: 36vw;
      width: $diameter;
      height: $diameter;
      border-radius: $diameter / 2;
      flex-shrink: 0;
      margin: 0 5px;
      overflow: hidden;
      background: $red;
      opacity: 0.75;

      &.focused {
        background: transparent;
        opacity: 1;

        img {
          filter: none;
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: multiply;
        filter: grayscale(1);
      }
    }
  }
}
