@import '../../shared/styles/index';

.crew {
  @extend %chapterWrapper;

  .swipeArea {
    width: 100%;
  }

  h1 {
    @extend %sectionHeader;
  }

  p {
    margin: 0 0 15px 0;
    padding: 0 $mobile-gutter;

    @include media('>tablet') {
      @include orientation('landscape') {
        width: 60vw;
        padding: 0 0 0 $desktop-gutter;
        box-sizing: border-box;
      }
    }

    &:first-of-type {
      line-height: 1.6em;
      font-family: 'Exo 2';
      font-size: 1.1em;
      letter-spacing: 0.02em;
    }
  }

  .blue {
    color: $blue;
  }

  ul {
    padding: 0 0 0 calc(#{$mobile-gutter} - 5px);
    margin: 0 0 25px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;

    @include media('>tablet') {
      @include orientation('landscape') {
        padding: 0 0 0 calc(#{$desktop-gutter} - 5px);
      }
    }

    li {
      $diameter: 36vw;
      width: $diameter;
      height: $diameter;
      border-radius: $diameter / 2;
      flex-shrink: 0;
      margin: 0 5px;
      overflow: hidden;
      background: $red;
      opacity: 0.75;
      transition: 1s $ease;
      cursor: pointer;

      @include media('>tablet') {
        @include orientation('landscape') {
          $diameter: 26vw;
          width: $diameter;
          height: $diameter;
          border-radius: $diameter / 2;
        }
      }

      &.focused {
        background: transparent;
        opacity: 1;

        img {
          filter: none;
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        mix-blend-mode: multiply;
        filter: grayscale(1);
      }
    }
  }

  .title {
    img {
      display: none;
    }

    @include media('>tablet') {
      @include orientation('landscape') {

        img {
          float: left;
          width: 65px;
          height: 65px;
          display: block;
          margin-right: 30px;
        }
      }
    }
  }

  .description {
    //height: 285px;
    margin-bottom: 0;

    @include media('>tablet') {
      @include orientation('landscape') {
        //height: 112px;
      }
    }

    a {
      font-size: 18px;
      margin-top: 10px;
      display: block;
    }

    svg {
      height: 40px;
      transform: translate(-8px, -1px);
      margin-right: -7px;
    }
  }
}
