@import '../../shared/styles/index';

.contact {
  @extend %chapterWrapper;

  @include media('>tablet') {
    @include orientation('landscape') {
      margin-top: $desktop-vertical-spacer-2;
      padding: 0 $desktop-gutter;
      flex-direction: row;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-shrink: 0;
    flex-grow: 0;

    @include media('>tablet') {
      @include orientation('landscape') {
        width: 35vw;
        margin-right: 7vw;
      }
    }
  }

  .right {
    width: 100vw;

    @include media('>tablet') {
      @include orientation('landscape') {
        padding:  136px 0 0 0;
        margin: 0;
        width: 34vw;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }

    @include media('>desktop') {
      @include orientation('landscape') {
        padding: 143px 0 0 0;
      }
    }
  }

  h1 {
    @extend %sectionHeader;

    @include media('>tablet') {
      @include orientation('landscape') {
        padding: 0;
      }
    }
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    height: 1.8em;
    margin: 0 $mobile-gutter $mobile-gutter;
    font-size: 20px;
    line-height: 1.5em;

    @include media('>tablet') {
      @include orientation('landscape') {
        padding: 0;
        margin: 0 0 #{$desktop-gutter / 5};
        flex-wrap: nowrap;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:focus {
      outline: none;
    }

    &.valid {
      border-bottom: 1px solid $blue;
      color: $blue;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 $mobile-gutter;
    box-sizing: border-box;
    margin-top: #{1.5 * $mobile-gutter};

    @include media('>tablet') {
      @include orientation('landscape') {
        padding: 0;
        margin-top: #{$desktop-gutter / 3};
        width: 100%;
      }
    }

    svg {
      height: 50px;
      cursor: pointer;

      @include media('>tablet') {
        @include orientation('landscape') {
          transform: translateX(calc(7vw + 100%));
        }
      }
    }
  }

  button {
    @extend %button;
    transition: 1s $ease;
    color: $blue;
    border-color: $blue;
    width: 144px;
    padding: 0;

    &.disable {
      color: $red;
      border-color: $red;
      pointer-events: none;
    }

    &.gotIt {
      border-color: rgba($blue, 0.3);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      overflow: hidden;
      height: 100%;

      li {
        flex-shrink: 0;
        width: 100%;
        padding: 9px 20px 10px;
        box-sizing: border-box;
        transition: 1s $ease;
      }
    }
  }

  p {
    padding: 0 $mobile-gutter;
    margin-top: #{2 * $mobile-gutter};
  }
}
