@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;
    width: 100vw;
    overflow-x: hidden;
    cursor: url('/images/cursor.svg'), auto;

    @include media('>tablet') {
      @include orientation('landscape') {
        font-size: 20px;
        line-height: 2em;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-thumb {
    border-left: 5px solid rgba(white, 0.3);
  }

  h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 33px;
    line-height: 40px;
    margin: 0 0 $mobile-vertical-spacer-2;
    font-weight: 500;

    @include media('>tablet') {
      @include orientation('landscape') {
        font-size: 50px;
        line-height: 1.3em;
      }
    }

    @include media('>desktop') {
      @include orientation('landscape') {
        font-size: 55px;
      }
    }
  }

  a {
    color: $blue;
    cursor: url('/images/cursor-pointer.svg'), auto;
  }

  p {
    margin: 0;
  }

  ::placeholder {
    font-style: italic;
  }
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  //align-items: center;
  overflow-x: hidden;
}

.contentWrapperInner {
  padding: 0 25px;
}

.divider180 {
  margin: $mobile-vertical-spacer-2 0 0 $mobile-gutter;
  width: 2267px;
  //transform: translateX(-60px);

  @include media('>phone') {
    @include orientation('landscape') {
      margin: $desktop-vertical-spacer-1 0 0 $desktop-gutter;
    }
  }

  &:first-of-type {
    margin: 0 0 $mobile-vertical-spacer-1 $mobile-gutter;

    @include media('>tablet') {
      @include orientation('landscape') {
        margin: 0 0 $desktop-vertical-spacer-1 $desktop-gutter;
      }
    }
  }

  &:last-of-type {

    @include media('>tablet') {
      @include orientation('landscape') {
        margin: #{2 * $desktop-vertical-spacer-1} 0 $desktop-vertical-spacer-1 $desktop-gutter;
      }
    }
  }
}

//.diagonalStripe {
//  position: absolute;
//  height: 1px;
//  width: 300vw;
//  background: rgba($white, 0.3);
//  z-index: 10;
//  left: 0;
//  transform: rotate(-40deg) translateY(-640px) translateX(-570px);
//}
