@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;

    @include media('>tablet') {
      @include orientation('landscape') {
        font-size: 20px;
        line-height: 38px;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-thumb {
    border-left: 5px solid rgba(white, 0.3);
  }

  h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 33px;
    line-height: 40px;
    margin: 0 0 $mobile-vertical-spacer-2;
    font-weight: 500;

    @include media('>tablet') {
      @include orientation('landscape') {
        font-size: 43px;
        line-height: 52px;
      }
    }
  }
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.contentWrapperInner {
  padding: 0 25px;
}

//.diagonalStripe {
//  position: absolute;
//  height: 1px;
//  width: 300vw;
//  background: rgba($white, 0.3);
//  z-index: 10;
//  left: 0;
//  transform: rotate(-40deg) translateY(-640px) translateX(-570px);
//}
