@import '../shared/styles/index';
@import './fonts';

:global {
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 37px;
    width: 100vw;
    overflow-x: hidden;
    cursor: url('/images/cursor.svg'), auto;

    @include orientation('landscape') {
      &::before {
        content: 'please rotate your device to portrait mode';
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include media('>tablet') {
        font-size: 20px;
        line-height: 2em;

        &::before {
          content: '';
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-thumb {
    border-left: 5px solid rgba(white, 0.3);
  }

  h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 33px;
    line-height: 40px;
    margin: 0 0 $mobile-vertical-spacer-2;
    font-weight: 500;

    @include media('>tablet') {
      font-size: 50px;
      line-height: 1.3em;
    }

    @include media('>desktop') {
      font-size: 55px;
    }
  }

  h2 {
    line-height: 1.6em;
    font-family: 'Exo 2';
    font-size: 1.1em;
    letter-spacing: 0.02em;
    color: $blue;
    font-weight: 400;
  }

  h4 {
    font-family: 'Exo 2', sans-serif;
    //font-weight: 500;
    color: $red;
  }

  a {
    color: $blue;
    cursor: url('/images/cursor-pointer.svg'), auto;
  }

  p {
    margin: 0;
  }

  ::placeholder {
    font-style: italic;
  }
}

.app {
  width: 100vw;
  flex-direction: column;
  //align-items: center;
  overflow-x: hidden;
  display: flex;

  @include orientation('landscape') {
    display: none;

    @include media('>tablet') {
      display: flex;
    }
  }
}

.contentWrapperInner {
  padding: 0 25px;
}

.divider180 {
  margin: $mobile-vertical-spacer-2 0 0 $mobile-gutter;
  width: 2267px;
  //transform: translateX(-60px);

  @include media('>phone') {
    margin: $desktop-vertical-spacer-1 0 0 $desktop-gutter;
  }

  &:first-of-type {
    margin: 0 0 $mobile-vertical-spacer-1 $mobile-gutter;

    @include media('>phone') {
      margin: 0 0 $desktop-vertical-spacer-1 $desktop-gutter;
    }
  }

  &:last-of-type {

    @include media('>tablet') {
      margin: #{2 * $desktop-vertical-spacer-1} 0 $desktop-vertical-spacer-1 $desktop-gutter;
    }
  }
}

//.diagonalStripe {
//  position: absolute;
//  height: 1px;
//  width: 300vw;
//  background: rgba($white, 0.3);
//  z-index: 10;
//  left: 0;
//  transform: rotate(-40deg) translateY(-640px) translateX(-570px);
//}