@import '../../shared/styles/index';

.navBar {
  width: 100vw;
  box-sizing: border-box;
  margin-top: $mobile-vertical-spacer-1;
  padding: 0 $mobile-gutter;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider180 {
  margin: $mobile-vertical-spacer-1 0;
  transform: translateX(-60px);
}

.logo {
  color: $red;
  font-size: 31px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

.contact {
  @extend %button;
  border: 1px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
