@import '../../shared/styles/index';

.navBar {
  width: 100vw;
  box-sizing: border-box;
  margin: $mobile-vertical-spacer-1 0;
  padding: 0 $mobile-gutter;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media('>tablet') {
    @include orientation('landscape') {
      margin: $desktop-vertical-spacer-1 0;
      padding: 0 $desktop-gutter;
    }
  }
}

.logo {
  color: $red;
  font-size: 31px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

.contact {
  @extend %button;
}
